@import "assets/styles/sass/index.scss";

.container {
  flex: 1 auto;
  &,
  .header,
  .header > div,
  .innerBox {
    @include flex(center, center);
  }
  .innerBox {
    flex-direction: column;
    justify-content: flex-start;
    align-items: initial;
    max-height: 400px;
    min-height: 300px;
    border-radius: $lightBorderRadius;
    padding: 1em 2em;
    margin: 1em 0;
    background-color: $blue;
    * {
      color: $grey;
      font-size: 1em;
    }
    width: 80%;
    .header {
      background-color: $turquoise;
      padding: 1em;
      border-radius: $lightBorderRadius;
      justify-content: space-between;
      flex-wrap: wrap;
      * {
        line-height: 1.5;
      }
      > div {
        margin: 1em 0;
        min-width: 150px;
      }
      div:last-of-type {
        label {
          margin: 0 1em;
        }
      }
    }
    p {
      text-align: center;
      color: red;
      margin: 1em 0;
      flex: 1 auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .select {
      background: white;
      border-radius: 5px;
      padding: 0.5em 1.5em;
      * {
        color: black !important;
      }
    }
    @media screen and(max-width:$tabletBreakpoint) {
      .header {
        flex-direction: column;
        font-size: 0.8em;
      }
      width: 90%;
    }
  }
  .tableContainer {
    width: 100%;
    overflow: auto;
    flex: 1 auto;
    margin: 1em 0;

    table {
      min-width: 1000px;
      * {
        font-size: 1em;
      }
      @media screen and(max-width:$tabletBreakpoint) {
        font-size: 0.8em;
      }
    }
  }
  .red {
    color: red;
  }
  .orange {
    color: orange;
  }
}
