@import "assets/styles/sass/index.scss";
.button {
  background-color: red !important;
}

.header {
  background-color: $blue;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $normalPadding;
  color: white;
  h1 {
    flex: 1 auto;
    text-align: right;
  }
}
.avatar {
  &,
  > div {
    @include flex(center, center);
  }
  margin: 1em 0;
  > div {
    justify-content: flex-end;
    padding: 0.5em;
    border-radius: $lightBorderRadius;
    background-color: $blue;
    color: white;
    > div {
      background-color: $pink;
    }
    > * {
      margin: 0.25em;
    }
  }
}
